:root {
    --primary-color: #2a1baa;
    --secondary-color: #050319;
    --accent-color: #5CD5E3;
    --accent-background: #1D2E3B;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    background-color: var(--secondary-color);
    font-family: 'Roboto', sans-serif;
}

header {
    padding: 100px 0;
    background-image: linear-gradient(rgba(255, 255, 255, 0.1), rgba(0,0,0,1)), url(../images/jid-header.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
}

header h3 {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 5px;
    line-height: 2;
    text-transform: uppercase;
}

header h1 {
    margin: 0;
    font-family: 'Playfair Display', sans-serif;
    font-weight: 700;
    font-size: 96px;
    line-height: 1.5;
}

header h2 {
    margin: 0;
    font-weight: 300;
    font-size: 22px;
    line-height: 1.2;
}

header a {
    display: inline-block;
    margin: 20px 0;
    padding: 10px 20px;
    background-color: var(--primary-color);
    border-radius: 20px;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    
}

hr {
    opacity: 0.3;
}

.about-section {
    display: block;
    margin: 0 auto;
    color: #fff;
    background-color: var(--secondary-color);
}

.about-content {
    margin: 20px 10px;
}

.about-content h3 {
    width: fit-content;
    padding: 3px 5px;
    background-color: var(--accent-background);
    color: var(--accent-color);
    font-size: 11px;
    letter-spacing: 3px;
}

.about-content h2 {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.about-content p {
    font-weight: 300;
    opacity: 0.8;
    font-size: 14px;
    line-height: 1.5;
}

.about-content a {
    display: inline-block;
    margin: 20px 0;
    padding: 10px 20px;
    background-color: var(--primary-color);
    border-radius: 20px;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
}

.featured-photo {
    filter:  brightness(65%) contrast(110%) saturate(84%);
    opacity: 0.8;
    width: 100%;
}

.songs-section {
    background-image: linear-gradient(rgba(5, 3, 20, 0.8), rgba(10, 7, 41, 0.8)), url(../images/jid-3.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 80px;
    margin: 0;
}

.songs-section h3 {
    display: block;
    margin: 0 auto;
    width: fit-content;
    padding: 3px 5px;
    background-color: #2b2b2b;
    color: #fff;
    font-size: 11px;
    letter-spacing: 3px;
}

.songs-section h2 {
    margin: 0 0 20px 0;
    padding: 0;
    text-align: center;
    color: #fff;
    font-family: 'Playfair Display', sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.card {
    max-width: 370px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
}

.card-video {
    width: 100%;
}

.card-body {
    padding: 25px;
    color: var(--secondary-color)
}

.card-body h4 {
    margin: 0;
    font-size: 22px;
}

.card-body p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.card-body a {
    display: block;
    margin: 20px auto;
    padding: 12px 20px;
    text-align: center;
    background-color: var(--primary-color);
    border-radius: 20px;
    color: #fff;
    font-size: 12px;
    text-decoration: none;
}

.more-section {
    display: block;
    margin: 0 auto;
    padding: 80px;
    color: #fff;
    background-color: var(--secondary-color);
    text-align: center;
}

.more-section h3 {
    display: block;
    margin: 0 auto;
    width: fit-content;
    padding: 3px 5px;
    background-color: var(--accent-background);
    color: var(--accent-color);
    font-size: 11px;
    letter-spacing: 3px;
}

.more-section h2 {
    margin: 0 0 20px 0;
    padding: 0;
    text-align: center;
    color: #fff;
    font-family: 'Playfair Display', sans-serif;
    font-size: 40px;
    font-weight: 700;
}

.box-video {
    width: 100%;
    aspect-ratio: 1 / 1;
}

.grid {
    display: grid;
    grid-gap: 60px;
}

.grid-2 {
    grid-template-columns: 1fr 1fr;
}

.grid-songs {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
}

.grid-more {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.grid-3 {
    grid-template-columns: 1fr 2fr 2fr;
}

.footer-container {
    color: #fff;
    background-image: linear-gradient(rgba(10, 7, 41, 0.6), rgba(10, 7, 41, 0.8)), url(../images/jid-footer.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 50px;
}

.footer-container h4 {
    margin: 10px 0;
    padding: 0;
    font-family: 'Playfair Display', sans-serif;
    font-size: 16px;
}

.footer-container ul {
    margin: 0;
    padding: 0;
}

.footer-container li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.footer-container a {
    color: #fff;
    opacity: 0.7;
    text-decoration: none;
}

.footer-container p {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    opacity: 0.7;
}

@media (max-width: 900px) {
    header {
        padding: 60px;
    }

    header h3 {
        font-size: 12px;
    }

    header h1 {
        font-size: 60px;
    }

    header h2 {
        font-size: 16px;
    }

    header a {
        margin: 10px 0;
        font-size: 10px;
    }

    .featured-photo {
        display: none;
    }

    .card {
        max-width: 100%;
    }

    .card-body {
        text-align: center;
    }

    .card-body a {
        max-width: 75%;
    }

    .footer-container {
        padding: 15px auto;
    }

    .grid {
        grid-template-columns: 1fr;
        grid-gap: 15px;
    }

    .grid-more {
        grid-template-columns: 1fr 1fr;
    }

    .footer-container li, .footer-container p {
        font-size: 12px;
    }
}
